:root { /* те саме що і тег html */
    --color-primary-dark: #31261A; /* HEX value */
    --color-primary-light: #FAF4EA;
    --color-brand-dark: #465929;
    --color-brand: #819B57;
}

/* Base */
body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

/* Button */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* Link */
.link {
    color: var(--color-primary-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand);
    text-decoration: underline;
}

/* Hero section */
.hero-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand);
}

/* List */
.advantages-list {
    background-color: var(--color-brand);
    color: var(--color-primary-light);
}

.section-title .accent {
    color: var(--color-brand-dark)
}

/* Traditions section */
.traditions-text .brand {
    color: var(--color-brand);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}